
laplace_prior/.ipynb_checkpoints/laplace_prior_by_vb_eval2-checkpoint.py
laplace_prior/.ipynb_checkpoints/laplace_prior_by_vb_eval2-checkpoint.ipynb
laplace_prior/.ipynb_checkpoints/laplace_prior_by_vb_eval-Copy1-checkpoint.py
